<section>
    <%= render partial: "display-order-items-section", locals: {
        section_title: "Cart items"
    } %>

    <%= render partial: "order-history-section", locals: {
        section_title: "Past Order History"
    } %>
</section>
