<h1 class="HomePage-title">Welcome to Cafeteria Manager</h1>

<h3 class="Home-authenticate">If you are a new user,</h3>

<h3 class="Home-authenticate"><%= link_to "sign up here", new_user_path %></h3>

<h3 class="Home-authenticate">If you are a existing user,</h3>

<h3 class="Home-authenticate"><%= link_to "sign in here", new_sessions_path %></h3>
