<section class="Order-table-main">
  <table class="Order-table">
    <tr class="Order-tableHeader">
      <th>Order id</th>
      <th>User id</th>
      <th>Total</th>
      <th>status</th>
    </tr>

    <% @order.each do |item| %>
      <tr class="Order-tablecontent">
        <td><%= item.id %> </td>
        <td><%= item.user_id %> </td>
        <td><%= item.total %></td>
        <% if item.status == 1 %>
          <td>
            Placed
            <%= link_to '<button class= "Deliver-button" type="button">Delivered</button>'.html_safe, order_path(item.id), method: :put,:onclick => "alert('Are U sure')" %>
          </td>
        <% elsif item.status == 2 %>
          <td>Delivered </td>
        <% else %>
          <td><% item.destroy %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</section>
