.HomePage-title {
  font-size: 48px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
  color: #9F7F15;
}

.Home-authenticate {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.UserHeader {
  padding: 30px;
  background-color: #EDDA9C;
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  text-align: center;
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}
