.MenuPage-title{
  font-size: 48px;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 24px;
  color:#9F7F15;
  text-align: center;
}

li{
  list-style-type:disc;
}

.MenuSection{
  margin-bottom: 24px;
}

.MenuSectionTitle-text{
  font-size: 32px;
  font-weight: 600;
  margin-right: 8px;
  margin-top: 20px;
  margin-bottom: 10px;
  color:#655A58;
}

.MenuItem{
  font-size: 20px;
  color: #453C52;
  margin-left: 16px;
}

.MenuItem-container{
  padding: 3px 8px;
}

.MenuItem-container:hover{
  background-color:cornsilk;
  visibility: visible;
}

.MenuItemDescription-text{
  font-size: 16px;
  color: #453C52;
  margin-left: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.MenuItem-text{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.AlignLeft{
  float: left;
}

.AlignRight{
  float: right;
}

.MenuItem-NotAvilable{
  padding: 3px 8px;
  color: darkgray;
}

.UsersOwner{
  width:900px;
  text-align: center;
  border: 5px solid gray;
  box-sizing: border-box;
}

.AddMenu-section {
  margin-top: 30px;
}

.AddMenu-text{
  font-size: 20px;
  padding: 8px;
}

.AddMenu-label {
  font-size: 20px;
  font-weight: 600;
  color: #555555;
  margin-bottom: 8px;
}

.AddMenu-button{
  font-size: 20px;
  padding: 10px;
  background-color:#9F7F15;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  margin-bottom: 20px;
}

.Menu-button{
  font-size: 15px;
  background-color:#9F7F15;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
}
