.NewUsersTitle {
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 48px;
  text-align: center;
  color: #9F7F15;
}

.UsersNew {
  text-align: center;
}

.Form-section {
  margin-bottom: 30px;
}

.Form-input {
  font-size: 20px;
  padding: 8px;
  margin-left: 9px;
  margin-right: 10px;
}

.FormInput-label {
  font-size: 32px;
  color: #555555;
  margin-bottom: 8px;
}

.Form-submit{
  font-size: 20px;
  padding: 10px;
  background-color:#9F7F15;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
}
